*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.imagen-fondo{
    background-image: url("../images/arg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.color{
    background-color: lightskyblue;
}
.messi_titulo{
    text-align: center;
    color: snow;
    font-size: 3rem;
    background-color: black;
}


.titulo_inicio{
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color: skyblue;
    text-align: justify;
}

.titulo-sus-inicios{
    color: black;
    text-align: center;
}

.titulo-logros{
    text-align: center;
}
